{
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "env": {
    "browser": true,
    "amd": true,
    "node": true,
    "jasmine": true,
    "jest": true
  },
  "rules": {
    "curly": "warn",
    "semi": "off",
    "no-unexpected-multiline": "error",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/no-parameter-properties": "off",
    "@typescript-eslint/explicit-function-return-type": [
      "warn",
      {
        "allowExpressions": true,
        "allowTypedFunctionExpressions": true,
        "allowHigherOrderFunctions": false
      }
    ],
    "@typescript-eslint/no-explicit-any": ["error"],
    "@typescript-eslint/ban-ts-ignore": "error",
    "@typescript-eslint/no-use-before-define": [
      "error",
      {
        "typedefs": false,
        "functions": false,
        "classes": true,
        "variables": true
      }
    ],
    "@typescript-eslint/no-for-in-array": "error",
    "@typescript-eslint/no-unnecessary-qualifier": "error",
    "@typescript-eslint/no-unnecessary-type-assertion": "error",
    "@typescript-eslint/prefer-includes": "error",
    "@typescript-eslint/prefer-string-starts-ends-with": "error",
    "@typescript-eslint/require-array-sort-compare": "error",
    "@typescript-eslint/no-angle-bracket-type-assertion": "off",
    "react/prop-types": "off",
    "prettier/prettier": [
      "error",
      {
        "printWidth": 120,
        "useTabs": false,
        "tabWidth": 2,
        "semi": false,
        "singleQuote": true,
        "trailingComma": "all",
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "arrowParens": "always"
      }
    ]
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "parser": "@typescript-eslint/parser"
}
